.center {
    display: flex;
    justify-content: center;
}

.center-center {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
}